.container{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.formulario{
    border: 1px solid gray;
    border-radius: 5px;
    
    
}
hr{
    margin-top: 2rem;
    width: 90%
    
}
.sign_in{
    margin-bottom: 2rem;
}